/* GLOBAL */
:root {
    --pink: magenta;
    --blue: blue;
    --green: lime;
}

body {
    font-family: 'Roboto Mono', monospace;
}

button {
    font-size: 14px;
    color: white;
    background-color: var(--blue);
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 15px;
    border: 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 25px;
}

button:hover {
    background-color: var(--pink);
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

section {
    padding: 64px;
}

.container {
    padding: 0;
}

/* HEADER */
header {
    padding: 10px 0px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 42px;
}

header .row {
    align-items: center;
}

h1 {
    font-size: 34px;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

.nav-link:hover {
    color: var(--pink);
}

.nav-link:hover:after, .nav-link.active:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 25px);
    height: 2px;
    background-color: var(--pink);
}

/* JUMBOTRON */
.jumbotron {
    padding-top: calc(128px + 64px);
}

.jumbotron .container {
    position: relative;
}

.jumbotron .container:after {
    content: url('images/logomarque.svg');
    position: absolute;
    bottom: -112.5px;
    right: 0;
    width: 225px;
    height: 225px;
    transform: rotate(12.5deg);
}

.jumbotron .content {
    width: 75%;
}

h1 {
    font-size: 56px;
    line-height: 59px;
    font-weight: 700;
}

/* MAIN */

main {
    background-color: #f2f2f2;
}

.row {
    gap: 50px;
}

.col-6 {
    width: calc(50% - 25px);
}

#movie, #cocktail {
    min-height: 500px;
    border: 5px dotted black;
    position: relative;
}

#movie:after, #cocktail:after {
    content: '?';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 168px;
    z-index: 0;
}

#movie h3, #movie img, #cocktail h3, #cocktail img {
    position: relative;
    z-index: 1;
}

#movie img, #cocktail img {
    height: 500px;
}

.top {
    margin-bottom: 50px;
}

h2 {
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: black;
    padding: 64px 0px;
    color: white;
}

.owners {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.owners a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.owners a:hover {
    color: var(--pink);
}

.credit img {
    width: 125px;
    height: auto;
}