/* GLOBAL */
:root {
    --pink: magenta;
    --blue: blue;
    --green: lime;
}

body {
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}

button {
    font-size: 14px;
    color: var(--pink);
    background-color: transparent;
    border: 2px solid var(--pink);
    text-transform: uppercase;
    border-radius: 3px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 25px;
}

button:hover {
    background-color: var(--pink);
    color: white;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

section {
    padding: 32px;
}

@media only screen and (min-width: 768px) {
    section {
        padding: 64px;
    }

    .container {
        padding: 0;
    }
}

/* HEADER */
header {
    padding: 10px 32px;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 42px;
}

header .row {
    align-items: center;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
}

.nav-link:hover {
    color: var(--pink);
}

.nav-link:hover:after, .nav-link.active:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 25px);
    height: 2px;
    background-color: var(--pink);
}

/* JUMBOTRON */
.jumbotron {
    padding-top: calc(128px + 64px);
}

.jumbotron .container {
    position: relative;
}

/* .jumbotron .container:after {
    content: url('images/logomarque.svg');
    position: absolute;
    bottom: -112.5px;
    right: 0;
    width: 225px;
    height: 225px;
    transform: rotate(12.5deg);
} */

@media only screen and (min-width: 1080px) {
    .jumbotron .container:after {
        content: url('images/logomarque.svg');
        position: absolute;
        bottom: -112.5px;
        right: 0;
        width: 225px;
        height: 225px;
        transform: rotate(12.5deg);
    }

    .jumbotron .content {
        width: 75%;
    }
}

h1 {
    font-size: 38px;
    line-height: 41px;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 56px;
        line-height: 59px;
    }
}

/* MAIN */

main {
    background-color: #f2f2f2;
}

.row {
    gap: 50px;
    margin-bottom: 50px;
}

.row:last-child {
    margin-bottom: unset;
}

@media only screen and (min-width: 768px) {
    .col-md-6 {
        width: calc(50% - 25px);
    }
}

/* .col {
    width: calc(50% - 25px);
} */

#movie, #cocktail {
    min-height: 600px;
    border: 5px dotted black;
    position: relative;
    padding: 25px;
}

#movie h3, #movie img, #cocktail h3, #cocktail img {
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}

#movie h3:first-child, #cocktail h3:first-child {
    min-height: 75px;
}

#movie img, #cocktail img {
    height: 325px;
}

@media only screen and (min-width: 510px) {
    #movie img, #cocktail img {
        height: 550px;
    }
}

@media only screen and (min-width: 767px) {
    #movie img, #cocktail img {
        height: 450px;
    }
}

@media only screen and (min-width: 1080px) {
    #movie img, #cocktail img {
        height: 600px;
    }
}

#instructions {
    margin-top: 25px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}

#matchBtn, .save-recipe {
    text-align: center;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: black;
    padding: 64px 0px;
    color: white;
}

footer .col {
    width: calc(100% - 64px);
    padding: 0;
}

.owners {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.owners a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

.owners a:hover {
    color: var(--pink);
}

.credit img {
    width: 125px;
    height: auto;
}